@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    

}
:root
{
    --black: #333;
    --white: #fff;
}
.dark
{
    --black: #fff;
    --white: #333;
}
header
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo
{
    position: relative;
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.sticky {
    position: fixed;
    
  }
.rightside
{
    display: flex;
}
.btns
{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(86, 87, 86);
    border-radius: 50%;
    margin-left: 10px;
}
.btns ion-icon
{
    font-size: 1.5em;
    color: white;
}

.btns.menutoggle ion-icon
{
    font-size: 3em;
}
.btns ion-icon:nth-child(2)
{
    display: none;
}
.btns.active ion-icon:nth-child(2)
{
    display: block;
}
.btns.active ion-icon:nth-child(1)
{
    display: none;
}
.main
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mask
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}
.testinomial
{
    position: absolute;
    top: 0;
    left: 400px;
    color: var(--black);
    z-index: 3;
    user-select: none;
    mix-blend-mode: normal;
}

.hello
{
    color: var(--black);
}


.dark .mask 
{
    filter: invert(1);
    mix-blend-mode: multiply;
}
.main h2
{
    position: relative;
    z-index: 3;
    font-size: 6.9vw;
    color: #fff;
    text-shadow: 0 30px 30px rgba(0,0,0,0);

}
.main h2 p
{
    font-size: 3.8vw;  
    position: relative;
    left: 240px;
    top: -25px;
    text-shadow: 0 30px 30px rgba(0,0,0,0);
}
.navigation
{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    z-index: 4;
    flex-direction: column;
    transition: 0.5s;

}
.navigation.active
{
    left: 0;
}
.navigation li
{
    list-style: none;

}
.navigation li a
{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
}
.navigation li a:hover
{
    background: var(--black);
    color: var(--white);
}
.sci
{
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    text-decoration: none;
    color: var(--black);
    font-size: 1.75em;
}
.para
{
    text-decoration: none;
    color: var(--black);
    font-size: 1.75em;
    background: var(--white);
}
@media (max-width: 768px)
{
    header
    {
        padding: 20px;

    }
    .sci
    {
        right: 20px;
        bottom: 20px;
    }
    .testinomial
{
    position: absolute;
    left: 20px;
    font-size: 10px;

}
    .main h2 p
{  
    position: relative;
    left: 80px;
    top: 10px;
    color: rgb(224, 216, 216);
}
}